<div>
    <h2>User Registration</h2>
    <form>
        <div>
            <label>Name:</label>
            <br>
            <input type="text" name="uname">
        </div>
        <br>
        <div>
            <label>Email:</label>
            <br>
            <input type="email" name="uemail">
        </div>
        <br>
        <div>
            <label>Password:</label>
            <br>
            <input type="password" name="upass">
        </div>
        <br>
        <input type="submit" value="Register">
    </form>
</div>
